/* Background */
/* .chat-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0ea5e9, #6366f1);
    z-index: 1000;
} */

.h2{
  margin-left: 10px;
}
/* Glass Card */
.chat-container {
  height: 788px;

  /* Fallback for unsupported browsers */
  background: rgba(255, 255, 255, 0.85);

  /* Glass effect */
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}


/* Header */
.chat-header {
  padding: 18px;
  background: linear-gradient(135deg, #0ea5e9, #2563eb);
  color: white;
}

.chat-header h3 {
  margin: 0;
}

.status {
  font-size: 12px;
  color: #44f281
  ;
}

/* Body */
.chat-body {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

/* Message Row */
.chat-row {
  display: flex;
  margin-bottom: 12px;
  animation: fadeInUp 0.3s ease;
}

.chat-row.customer {
  justify-content: flex-end;
}

/* Avatar */
.avatar {
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 8px;
}

.chat-row.customer .avatar {
  display: none;
}

/* Bubble */
.chat-message {
    max-width: 60%;
    padding: 0px 10px;
    border-radius: 16px;
    font-size: 14px;
    /* line-height: 1.5; */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.chat-message.agent {
  background: #ffffff;
  color: #111;
  border-bottom-left-radius: 4px;
}

.chat-message.customer {
  background: linear-gradient(135deg, #0ea5e9, #2563eb);
  color: white;
  border-bottom-right-radius: 4px;
}

/* Footer */
.chat-footer {
  display: flex;
  padding: 14px;

  /* Fallback */
  background: rgba(255, 255, 255, 0.75);

  /* Glass effect (supported browsers) */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.chat-footer input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  background: rgba(255,255,255,0.35);
  color:rgba(0, 0, 0, 0.933) ;
}

.chat-footer button {
  margin-left: 10px;
  width: 44px;
  border-radius: 50%;
  border: none;
  background: #0ea5e9;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fm-main {
  flex: 1;
  padding: 25px 5px;
}
