/* Service Verification Styles */

.sv-container {
  font-family: "Poppins", sans-serif;
  background: #f3f4fe;
  min-height: 100vh;
  padding: 40px;
}

.sv-title {
  text-align: center;
  color: #2b2b52;
  margin-bottom: 30px;
  font-size: 32px;
}

.sv-topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.sv-search {
  display: flex;
  align-items: center;
  background: white;
  padding: 12px 20px;
  width: 280px;
  border-radius: 50px;
  gap: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.sv-search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.sv-circle-icon {
  background: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.sv-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sv-profile-info {
  text-align: right;
}

.sv-profile-info p {
  margin: 0;
  font-weight: 600;
}

.sv-profile-info small {
  opacity: 0.6;
}

.sv-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.sv-form-card {
    /* width: 900px; */
    /* margin: auto; */
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.sv-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
}

.sv-form-field {
  margin-bottom: 20px;
}

.sv-form-field p {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 500;
}

.sv-form-field input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  background-color: #ffffff;
}

.sv-select-field {
  margin-bottom: 20px;
}

.sv-select-field p {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 500;
}

.sv-select-field select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  background: white;
}

.sv-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.sv-cancel-btn {
  padding: 12px 60px;
  background: #c62828;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

.sv-confirm-btn {
  padding: 12px 60px;
  background: #5646a3;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}
