* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.service-page {
  padding: 30px;
}

.page-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #2f2f4f;
}

/* GRID */
.service-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 24px;
  align-items: start;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

/* LEFT TYPE CARD */
.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.type-btn {
  width: 100%;
  padding: 14px;
  border-radius: 24px;
  border: none;
  background: #717172;
  margin-bottom: 14px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.type-btn.active {
  background: #717172ff;
  font-weight: 600;
}

.type-btn.add {
  background: #f5f5ff;
  font-weight: 500;
}

/* RIGHT DETAILS */
.details-card h3 {
  margin-bottom: 16px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  max-width: 360px;
}

.form input,
.form select {
  height: 42px;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid #e1e3f0;
  background: #f6f7ff;
  color: #717172ff;
}

/* COLLAR */
.collar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 0 16px;
  font-size: 14px;
  font-weight: 600;
}

.add-new {
  background: none;
  border: none;
  color: #4f46e5;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* COLLAR ROW */
.collar-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 14px;
  margin-bottom: 14px;
}

.collar-row input {
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #e1e3f0;
  background: #f6f7ff;
  color: #717172ff;
}

.delete-icon {
  cursor: pointer;
  margin-top: 10px;
}

/* ACTIONS */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 32px;
}

.btn {
  padding: 12px 26px;
  border-radius: 24px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn.delete {
  background: #e11d48;
  color: #fff;
}

.btn.outline {
  background: #fff;
  border: 1px solid #4f46e5;
  color: #4f46e5;
}

.btn.primary {
  background: #4f46e5;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .service-grid {
    grid-template-columns: 1fr;
  }

  .collar-row {
    grid-template-columns: 1fr;
  }

  .actions {
    justify-content: center;
  }
}
